* {
  box-sizing: border-box;
}

body {
  background-color: #2F1FAF;
  font-size: 250%;
  font-family: sans-serif;
  color: #DDD;
}

a, a:visited, a:hover, a:active {
  color: #DDD;
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  display: block;
  text-align: center;
}

li {
  text-align: center;
  margin: 1em 15%;
  padding: .5em;
  width: 50%;
  display: inline-block;
}


@media (max-width: 800px) {
  body {
    font-size: 150%;
  }
}