* {
  box-sizing: border-box;
}

body {
  background-color: #2F1FAF;
  font-size: 250%;
  font-family: sans-serif;
  color: #DDD;
  text-align: center;
}

a, a:visited, a:hover, a:active {
  color: #DDD;
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0em 10%;
  width: 100%;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  display: block;
  text-align: center;
  /* border: 1px dashed yellow; */
}

li {
  text-align: center;
  margin: .5em 15%;
  padding: .5em 0%;
  width: 40%;
  display: inline-block;
  /* border: 1px solid pink; */
}

h2, h3 {
  margin: 1em 0 .25em;
}

h4 {
  margin: .25em 0;
}

#new-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: .25em;
  font-size: 50%;
}

#new {
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
}

#clock {
  text-align: center;
}

#new > .date {
  font-size: 75%;
  font-weight: bold;
}


#old-link {
  font-size: 60%;
}

#old-link > a, #new > a {
  text-decoration: underline;
}


@media (max-width: 800px) {
  body {
    font-size: 150%;
  }
  
  ul {
    padding: 0em 5%;
  }

  
  li {
    margin: .5em 10%;
    width: 80%;
  }
}